/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* ---------Конец Обнуления---------- */
body {
  font-family: "Open Sans Condensed";
  font-style: normal;

  background: #333333;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.content {
  flex: 1 1 auto;
}
.first_screen {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(51, 51, 51, 0.85),
      rgba(51, 51, 51, 0.85)
    ),
    url(../img/large.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1045px;
}
.top_line {
  display: flex;
  padding: 50px 0 0 0;
  justify-content: space-between;
  flex: 1 1 50%;
}
.main_menu {
}
.main_menu_list {
  display: flex;
  justify-content: space-around;
  width: 822px;
}
.main_menu_list li {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.phone {
  display: flex;
  flex-direction: column;
}
.phone a {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.phone span {
  border: 2px solid #d1a954;
  background-color: #d1a954;
  margin-top: 6px;
}

.first_screen__row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 190px;
}
.first_screen__body {
}
.first_screen__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 50px;
}
.first_screen__text {
  margin-bottom: 50px;
}
.first_screen__text p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 20px;
}
.first_screen__body a {
}
.first_screen__btn {
  background-color: #d1a954;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 47px;
  margin-top: 50px;
}

.swiper_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 76px;
  margin-left: 71px;
}
.swiper1 {
  width: 370px;
  height: 568px;
}
.swiper-slide {
  width: 370px;
  height: 520px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper_btn {
  /* padding-left: 40px;
    padding-right: 35px; */
  padding-top: 290px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
.swiper-button-next span {
  position: absolute;
  left: -80px;
}

.swiper-button-prev span {
  position: absolute;
  right: -90px;
}
.swiper-button-next:after {
  background-image: url("../img/icons/Arrow-left.svg");
  font-size: 16px;
  min-width: 40px;
}
.swiper-button-next {
  display: flex;
  flex-direction: row-reverse;
}
.swiper-button-prev:after {
  background-image: url("../img/icons/Arrow-rigth.svg");
  font-size: 16px;
  min-width: 40px;
}

.swiper-button-prev {
  display: flex;
  flex-direction: row-reverse;
}
.fixed_panel {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background: rgba(51, 51, 51, 0.75);
}
.fixed_panel_icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 50px;
  margin-left: -16px;
}
.fixed_panel_icons_info {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c4c4c4;
  transform: rotate(-90deg);
  margin: 0px 0px 120px 0px;
  /* writing-mode: tb-rl; */
  white-space: nowrap;
}
.fixed_panel_icons span {
  border: 2px solid #c4c4c4;
  transform: rotate(90deg);
  width: 80px;
  background-color: #c4c4c4;
  margin: 0 0 40px 0;
}
.icons {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.icons a {
}
.fa-brands {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.6);
}
.fa-brands:hover {
  color: #d1a954;
}
.svg path:hover {
  fill: #d1a954;
}
.fixed_panel_icons a:last-child {
  margin-bottom: 86px;
}
.about {
  margin-top: 150px;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.title span {
  color: #d1a954;
}
.abour_body {
  margin-top: 78px;
}
.about_row {
  display: flex;
}
.about_text {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: 273px;
  justify-content: space-between;
}
.about_text_title {
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.about_text_text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.about_numbers {
  margin-left: 30px;
  width: 255px;
}
.about_numbers_title {
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}
.group_1 img,
.group_2 img {
  width: 70px;
  margin-bottom: 15px;
}
.group_1_text,
.group_2_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.group_1_text {
  margin-bottom: 25px;
}
.group_1_text span,
.group_2_text span {
  color: #d1a954;
}
.group_2_text {
}
.about_image {
  width: 395px;
}
.projects {
  margin-top: 150px;
}
.projects_slider {
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  margin-top: 78px;
}
.swiper2 {
  /* width: 1770px; */
}
.swiper-slide1 {
  position: relative;
  width: 442px;
}
.swiper-slide1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0.65),
    rgba(51, 51, 51, 0.65)
  );
}
.swiper-slide1:hover:after {
  content: "";
  background: none;
}
.slide1_text {
  position: absolute;
  top: 40px;
  left: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}
.slide1_sidetext {
  position: absolute;
  top: 391px;
  left: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(-90deg);
  z-index: 2;
}
.swiper-slide1:hover .slide1_text {
  display: none;
}
.swiper-slide1:hover .slide1_sidetext {
  display: none;
}
.slide1_search {
    position: absolute;
    left: 171px;
    top: 225px;
    background-color: #d1a954;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    padding-top: 37px;
    display: none;
}
.swiper-slide1:hover .slide1_search{
    display: block;
}

.rating {
    margin-top: 89px;
    position: relative;
}
.rating_img {
    position: relative;
    height: 611px;
}
.rating_img::after {
    content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0.65),
    rgba(51, 51, 51, 0.65)
  );
}

.rating_row {
  display: flex;
    position: absolute;
    top: 187px;
    left: 190px;
    z-index: 2;
}
.row_years_text{
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
}
.row_stars_stars{
  width: 400px;
  margin-left: 103px;
}
.stars{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
}
.row_stars_text{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 150%;
color: #FFFFFF;
margin-top: 30px;
}
.partners{
  margin-top: 150px;
}
.partners_title{
  margin-bottom: 137px;
}
.partners_container{
  display: flex;
  flex-wrap: wrap;
  row-gap: 129px;
  /* gap: 25px; */
}
.contacts {
  /* height: 335px; */
}
.contacts_title{
  margin-top: 150px;
}
.contacts_row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 78px;
}
.contacts_form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form input, textarea {
min-width: 180px;
height: 35px;
padding-left: 10px;
background: #444444;
border: 1px solid #616161;
color: #989898;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 150%;
align-items: center;
}
.form textarea {
  min-width: 270px;
  height: 100px;
}
.contacts_phone div, a {
  font-weight: 700;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;
}
.mailto {
text-decoration: underline;
}
.contacts_phone div{
  margin-bottom: 25px;
}
.contacts_phone div:last-child{
  margin-bottom: 0px;
}


.footer .container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
}
.footer span{
    border: 1px solid #565656;
    width: 1110px;
    align-self: center;
}
.footer__row {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    height: 78px;
  }
  .footer__text{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
color: #989898;
  }

