/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* ---------Конец Обнуления---------- */

@font-face {
  font-family: 'Open Sans Condensed';
  src: url(OpenSansCondensed-Bold.woff2) format('woff2'),
    url(OpenSansCondensed-Bold.woff) format('woff'),
    url(OpenSansCondensed-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Open Sans Condensed';
  font-style: normal;

  background: #333333;
}
body._lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container,
.header_container,
.first_screen_container {
  max-width: 1110px;
  margin: 0 auto;
}
.content {
  flex: 1 1 auto;
}
.first_screen {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(51, 51, 51, 0.85),
      rgba(51, 51, 51, 0.85)
    ),
    url(../img/large.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1045px;
}
.header {
  width: 100%;
  z-index: 10;
  padding: 40px 0 0px 0;
  transition: all 1.5s ease 0s;
}

.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.75);
  padding: 25px 0 0 0;
  transition: all 0.9s ease 0.3s;
}
.header_fixed .phone {
  display: none;
  transition: all 0.5s ease 0.5s;
}
.header_fixed .header_container {
  justify-content: flex-start;
  transition: all 0.5s ease 0.3s;
}
.header_container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  flex-wrap: wrap;
}
.menu_icon {
  display: none;
}
.menu_link {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.menu_social {
  display: none;
}
.phone {
  display: flex;
  flex-direction: column;
}
.phone a {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
.phone a:hover {
  text-decoration: underline;
  text-decoration-color: #d1a954;
  text-underline-offset: 5px;
}
.first_screen__row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 190px;
}
.first_screen__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 50px;
}
.first_screen__text {
  margin-bottom: 50px;
}
.first_screen__text p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 20px;
}
.first_screen__btn {
  background-color: #d1a954;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 47px;
  display: inline-block;
}
.first_screen__btn:hover {
  background-color: #d6bb82;
}
.swiper_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 66px;
  margin-left: 71px;
}
.swiper1 {
  width: 370px;
  height: 568px;
}
.swiper-slide {
  width: 370px;
  height: 520px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom_btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper_btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.custom-next span img {
  padding: 0 10px;
  margin-top: 10px;
}
.custom-next span,
.custom-prev span {
  padding: 15px;
}
.custom-prev span img {
  position: absolute;
  padding: 0px 0px 0px 10px;
  margin-top: -1px;
  margin-left: 20px;
}
.fixed_panel {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background: rgba(51, 51, 51, 0.75);
  z-index: 5;
}
.fixed_panel_icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
  margin-left: -30px;
  margin-top: 405px;
}
.fixed_panel_icons_info {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c4c4c4;
  transform: rotate(-90deg);
  margin: 0px 0px 120px 0px;
  white-space: nowrap;
}
.fixed_panel_icons span {
  border: 2px solid #c4c4c4;
  transform: rotate(90deg);
  width: 80px;
  background-color: #c4c4c4;
  margin: 0 0 40px 0;
}
.icons {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.fa-brands {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.6);
}
.fa-brands:hover {
  color: #d1a954;
}
.svg path:hover {
  fill: #d1a954;
}
.title {
  margin-top: 150px;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.title span {
  color: #d1a954;
}
.abour_body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 78px;
}
.about_row {
  display: flex;
  margin: 0 auto;
}
.about_text {
  display: flex;
  flex-direction: column;
  max-width: 445px;
  justify-content: space-between;
}
.about_text_title {
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.about_text_text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
.about_numbers {
  margin-left: 30px;
  width: 255px;
}
.about_numbers_title {
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}
.group_1 {
  margin-right: 10px;
}
.group_1 img,
.group_2 img {
  width: 70px;
  margin-bottom: 15px;
}
.group_1_text,
.group_2_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.group_1_text {
  margin-bottom: 25px;
}
.group_1_text span,
.group_2_text span {
  color: #d1a954;
}
.about_image {
  width: 395px;
}
.projects_slider {
  margin-top: 150px;
  /* width: 1770px; */
  margin-left: 150px;
  overflow: hidden;
}
.projects_slider {
  display: flex;
  justify-content: flex-start;
  margin-top: 78px;
}
.swiper2 {
  width: 422px;
  height: 100%;
}
.swiper-wrapper1 {
  width: 1768px;
  overflow: hidden;
}
.swiper-slide1 {
  position: relative;
  width: auto !important;
}
.swiper-slide1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0.65),
    rgba(51, 51, 51, 0.65)
  );
}
.swiper-slide1:hover:after {
  content: "";
  background: none;
}
.slide1_text {
  position: absolute;
  top: 40px;
  left: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}
.slide1_sidetext {
  position: absolute;
  top: 391px;
  left: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(-90deg);
  z-index: 2;
}
.swiper-slide1:hover .slide1_text {
  display: none;
}
.swiper-slide1:hover .slide1_sidetext {
  display: none;
}
.slide1_search {
  position: absolute;
  left: 171px;
  top: 225px;
  background-color: #d1a954;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  padding-top: 37px;
  display: none;
}
.swiper-slide1:hover .slide1_search {
  display: block;
}
.container {
  position: relative;
}
.rating {
  margin-top: 89px;
  position: relative;
}
.rating_img {
  position: relative;
  height: 611px;
}
.rating_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rating_img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0.65),
    rgba(51, 51, 51, 0.65)
  );
}
.rating_row {
  display: flex;
  top: 20%;
  left: 20%;
  right: 20%;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.row_years {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row_years_text {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #d1a954;
}
.row_stars_stars {
  width: 400px;
  margin-left: 103px;
}
.stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
}
.row_stars_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 30px;
}
.partners {
  width: 1110px;
  margin: 0 auto;
  overflow: hidden;
}
.partners_title {
  margin-bottom: 137px;
}
.partners_container {
  display: flex;
  flex-wrap: wrap;
  gap: 129px;
}
.partners_container:last-child {
  gap: 0;
}
.partners_swiper {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 28px;
  margin: 0 auto;
}
.swiper3 {
  width: 256px;
}
.swiper-slide2 {
  width: 256px !important;
  height: 30px;
}
.swiper-slide3 {
  width: 256px !important;
  height: 40px;
}
.contacts_row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 44px;
  margin-top: 78px;
  flex: 1 1 auto;
}
.contacts_phone {
  max-width: 30%;
  flex: 1 1 auto;
}
.contacts_phone a {
  padding-bottom: 25px;
}
.contacts_phone a:last-child {
  padding-bottom: 25px;
}
.contacts_phone p {
  padding-top: 25px;
}
.form {
  display: flex;
  gap: 30px;
  flex: 1 1 auto;
}
.form_left,
.form_center {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1 1 auto;
}
.contacts_phone1 {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.contacts_form {
  margin: 0 auto;
}
.form input,
textarea {
  min-width: 180px;
  height: 35px;
  padding-left: 10px;
  background: #444444;
  border: 1px solid #616161;
  color: #989898;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  align-items: center;
}
.form textarea {
  min-width: 270px;
  height: 100px;
}
.contacts_phone div,
a {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
.mailto {
  text-decoration: underline;
}
.form_right {
  display: flex;
}
.form_btn {
  display: flex;
  gap: 120px;
  padding-top: 40px;
}
.form_btn p {
  width: 390px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
.submit_btn {
  background-color: #d1a954;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 47px;
}
.submit_btn:hover {
  background-color: #d6bb82;
}
.footer .container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  padding: 0 10px 0 10px;
}
.footer span {
  border: 1px solid #565656;
  width: 100%;
  align-self: center;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  gap: 50px;
}
.footer__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
